/* BASE */
body {
	font-family: 'Poppins', Verdana, sans-serif;
}
footer {
	display: table-cell !important;
	border: solid #b72613;
	border-width: 6px 0 0 0;
}
header>div {
	background-color: #dadada;
	margin-top: 3em;
}
header {
	margin-bottom: 1.5em;
}


/* MAIN MENU */
.top-subtotal {
	margin-top: 1.5em;
}
.top-subtotal, .actions {
	text-align: right;
	padding: 0.5em;
}
.menu-product-line-options {
	padding-left: 2em !important;
	text-align: right;
}
.menu-product-line {
	width: 100%;
}
.menu-product-line td {
	padding: 0.3em;
}
.menu-products li:nth-child(odd) {
	background: #ebf3f8;
}
#menu_payment_details {
	background-color: #f0f0f0;
}


/* GENERAL */
#wrapwrap>main {
	min-height: 100%;
	height: 100%;
}
#banners_grid, #wrap {
	margin: 1.5em 0;
}



/* MODIFY BOOTSTRAP */
.navbar-brand {
  padding: 0px; /* firefox bug fix */
}
.navbar-brand>img {
  height: 100%;
  padding: 15px; /* firefox bug fix */
  width: auto;
}


/* Odoo */
.oe_product_borderless {
  border: 0 !important;
}

/* MAPA DIRECTORIO */
#directory-map {
  height:500px;
  margin-top: 0.5em;
}
.open-map-image {
	margin-left: 1.5em;
}

/* TOOLBAR DIRECTORIO */
#directory-toolbar {
	border: 1px solid gray;
	border-width: 0 0 1px 0;
	padding-bottom: 5px;
	margin-bottom: 3em;
}

/* TABLA EVENTOS DIRECTORIO */
.table-events-directory {
	border: none !important;
}
.table-events-directory td, .table-events-directory th {
	border-width: 0 0 1px !important;
}
.table-events-directory th {
	background-color: transparent !important;
	margin-top: 8em;
}

/* Efectillo banner */
.fx-banner-hover {
  -webkit-transition: all 0.8s ease;
     -moz-transition: all 0.8s ease;
       -o-transition: all 0.8s ease;
      -ms-transition: all 0.8s ease;
          transition: all 0.8s ease;

  border: 0 solid transparent; 
  border-radius: 50%;
}
 
.fx-banner-hover:hover {
  border: 1px solid #D2D2D2;
  border-radius: 0;
  box-shadow: 0px 3px 5px #CCC;
  background-color: #B7CAFF;
}

/* GRID DIRECTORIO */
@media (max-width: 768px) {
  #directory_grid table, #directory_grid tbody, #directory_grid tr, #directory_grid td {
    float: left;
    width: 100%;
    display: inline-block;
  }
  #directory_grid .oe_product {
    float: left;
    width: 100%;
    height: 300px;
    display: inline-block;
  }
}
@media (max-width: 400px) {
  #directory_grid .oe_product {
    height: 270px;
  }
  #directory_grid .oe_product section {
    background: rgba(100, 100, 100, 0.2);
  }
  #directory_grid .oe_product .oe_product_image {
    top: 0;
    bottom: 65px;
  }

  #directory_grid .oe_product.oe_image_full .oe_product_image {
    bottom: 50px;
  }
}

#products_grid_before h3 {
  background-color: transparent !important;
  color: rgb(235, 76, 76) !important;
  font-weight: 300 !important;
  border: 0 !important;
  padding-left: 0 !important;
}

#products_grid_before .nav-stacked.mt16 {
  background-color: transparent !important;
  border: 0 !important;
}
#products_grid_before .nav-stacked.mt16 > li > a {
  background-color: transparent !important;
}
#products_grid_before .nav-stacked.mt16 > li:last-child > a {
  border: 0 !important;
}

.product .producto-img {
	border-width: 0 1px 1px 1px !important;
}
.product .establecimiento-img {
	border-width: 0 1px !important;
}

.pro-info {
	background-color:#efefef;
}
.pro-info .ptitle {
  display: inline-block;
  color: #000;
  font-weight: 400;
  font-size: 15px;
  padding: 4px;
}
.pro-info .ptitle a {
  color: #000;
}
.pro-info .ptitle a:hover {
	text-decoration: none;
} 

.est-icon {
  padding: 0 3px;
}

.est-icon:hover {
  cursor: help;
}

.TA_socialButtonBubbles {
  z-index: 999;
  position: absolute;
  bottom: 1px;
  right: 5px;
}


/* DIRECTORIO */
.product-list-item {
  margin-bottom: 0.5em;
}
.product-list-item-name a {
  color: #000;
}
.product-list-item-name:hover {
  text-decoration: none;
}
.product-list-item-name {
  color: #000;
}
#advs {
  background-color: #efefef;
  height: 600px;
  min-height: 100%;
}

/* DETALLE ESTABLECIMIENTO */
.row>#map {
  height:300px; 
  margin-top:2.5em;
}

.detail-section-title
{
  margin: 0 0 1em 0;
  padding: 0.4em;
  background-color: #EFEFEF;
  display: inline-block;
}

.block-hours {
  margin-bottom: 1.5em;
  background-color: #E7E7E7;
  padding: 1em;
}
.block-hours h4 {
	padding: 0;
	margin: 0 0 1em 0;
}
.block-hours table {
  width: 100%;
}


/* GOOGLE MAPS */
#save-widget {
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
  background-color: white;
  padding: 10px;
  font-family: Roboto, Arial;
  font-size: 13px;
  margin: 15px;
}

/* SOLICITAR LINK */
#solicitud_link_container h3 {
  background-color: transparent;
  color: rgb(235, 76, 76);
  font-weight: 300;
}

/*TRIPADVISOR*/
.widSSP {
  width: 100% !important;
}


/*BOOTSTRAP*/
.container {
  width: 95% !important; 
}

/* MENU VERTICAL */
#leftMenu {
	background-color: #E7E7E7;
	padding: 1em;
}
#leftMenu .accordion-group {
    margin-bottom: 0px;
    border:0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

#leftMenu .accordion-group ul {
    padding-left: 0;
}
#leftMenu .accordion-group li {
    list-style-type: none;
}

#leftMenu .accordion-heading {
    height: 34px;
    border-top: 1px solid #717171; /* inner stroke */
    border-bottom: 1px solid #5A5A5A; /* inner stroke */
    background-color: #353535; /* layer fill content */
    background-image: -moz-linear-gradient(90deg, #595b59 0%, #616161 100%); /* gradient overlay */
    background-image: -o-linear-gradient(90deg, #595b59 0%, #616161 100%); /* gradient overlay */
    background-image: -webkit-linear-gradient(90deg, #595b59 0%, #616161 100%); /* gradient overlay */
    background-image: linear-gradient(180deg, #595b59 0%, #616161 100%); /* gradient overlay */
    list-style-type:none;
    padding: 0.5em;
}  

#leftMenu .accordion-heading  a{  
    color: #cbcbcb; /* text color */
    text-shadow: 0 1px 0 #3b3b3b; /* drop shadow */
    text-decoration:none;
    font-weight:bold;
    text-transform: uppercase;
}

#leftMenu .accordion-heading  a:hover{  
    color:#ccc     
}

#leftMenu .accordion-heading .active {
    width: 182px;
    height: 34px;
    border: 1px solid #5b5b5b; /* inner stroke */
    background-color: #353535; /* layer fill content */
    background-image: -moz-linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
    background-image: -o-linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
    background-image: -webkit-linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
    background-image: linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
}

/* IMAGENES ESTABLECIMIENTO */
.thumbnail img {
	height: 150px !important;
}

/* EVENTOS ESTABLECIMIENTO */
#table-events td {
	text-align: center;
	vertical-align: middle;
}

/* HEAD ESTABLECIMIENTOS */
#head-name {

}
#head-name h1 {
	border: 0;
	padding: 0 !important;
	margin: 0 !important;
	font-weight: bold !important;
}

/* PANEL ESTABLECIMIENTO */
a.list-group-item {
	min-height: 100px;
}
.tr-event-tickets-panel {
	box-shadow: 0 1px 5px #BBB inset;
}

/* PANEL EDITAR USUARIO */
#passwd-row {
	background-color: #F6F6F6;
	padding: 1.0em 0.1em 0.1em;
	border: 1px dotted gray;
}

/* MODIF. BOOTSTRAP */
.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c !important;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f !important;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e !important;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.img-crop {
	height: 800px !important;
	object-fit: cover !important;
}